body {
   margin: 0;
   background-color: rgb(240, 240, 240);
}

nav {
   background-color: #6D7993;
   margin: 2px;
   padding: 0 15px 0 0;
   border-radius: 10px;
   border-bottom: solid thick #4A4E69;
   display: flex;
   justify-content: flex-end;
}

nav a {
   display: block;
   color: #F4EAD3;
   font-family: Arial, Verdana, sans-serif;
   text-decoration: none;
   transition: color 0.25s;
   box-shadow: 2px 1px;
   background-color: #7D84B2;
   border-bottom: ridge #6D7993;
   border-radius: 6px;
   padding: 10px;
}

nav a:hover {
   color: #E94560;
   background-color: #557A95;
}

footer {
   background-color: #6D7993;
   margin: 10px 5px;
   padding: 10px;
   border-radius: 10px;
   border-top: solid thick #4A4E69;
   display: flex;
   justify-content: center;
}

footer a {
   color: #F4EAD3; 
   font-family: Arial, Verdana, sans-serif;
   text-decoration: none;
}

footer a:hover {
   font-weight: bold;
}

.intro {
   font-family: 'Honk', sans-serif;
}

.profile {
   background-color: #E94560;
   padding: 5px;
   font-family: 'Honk', sans-serif;
}

a {
   color: #8D697A;
   text-decoration: none;
}

section.profile a:hover {
   color: #F9F9F9;
   text-decoration: none;
}

a:hover {
   color: #3B2E5A; 
   text-decoration: none;
}

h1 {
   color: #9D4EDD; 
   font-size: 200%;
}

section.intro h2 {
   font-size: 100%;
}

section.profile h2 {
   color: #e9e9e9; 
}

section.profile h3 {
   color: #742F3C; 
}

hr {
   border-top: dotted 4px #556A87;
   width: 98%;
   margin: auto;
}

.backgroundimages {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
}

.backgroundimage1,
.backgroundimage2,
.backgroundimage3 {
    width: 33.3%; 
    height: auto; 
    padding: 5px;
    border: thin black;
    border-radius: 12px;
}

.backgroundimage1 {
    position: absolute;
    left: 0;
    top: 0;
}

.backgroundimage2 {
    position: absolute;
    left: 33.3%;
    top: 0;
}

.backgroundimage3 {
    position: absolute;
    left: 66.6%;
    top: 0;
}

.introtext {
   position: relative;
   margin: 275px 10px 0 10px;
}

.portrait {
   position: relative;
   display: block;
   margin: auto;
   height: 250px;
   border-radius: 20px;
}

.language {
   width: 100%;
   height: 25%;
   border-radius: 10px;
}

.experience {
   width: 100%;
   height: 25%;
   border-radius: 10px;
}

.skill {
   width: 100%;
   height: 25%;
   border-radius: 10px;
}

.card {
   display: flex;
   flex-direction: column;
   background-color: #98C1D9;
   border: 3.5px solid #556A87;
   border-radius: 30px;
   margin: 10px 0;
   box-shadow: 2px 5px #98159D;
   padding: 20px;
   text-align: center;
   align-items: center;
}

.card:hover {
   background-color: #FFCB9A;
}

.card ul, dl {
   display: grid;
   padding: 0;
   text-align: left;
   font-weight: bold;
   margin: 15px 0;
}

.three-col {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 90px;
   justify-items: center;
}

.contact {
   background-color: #FF0000;
}

.info {
   font-family: 'Honk', sans-serif;
   display: block;
   padding: 20px;
   justify-items: center;
}

.one-col {
   font-family: 'Honk', sans-serif;
   margin: 0 0;
   display: flex;
   justify-items: center;
}
